@charset "UTF-8";

@media screen and (max-width: 767px) {

    #imagem {
        height: 250px;
        width: 400px;
        background-position: center center;
    }
    
    #login {
        margin-top: 150px;
        height: 700px;
        width: 300px;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
        overflow: hidden;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #forms {
        padding: 25px;
    }

}