@charset "UTF-8";

@media screen and (max-width: 767px) {

    #imagem {
        height: 255px;
        width: 240px;
        background-image: url(../imagens/pexels-daisa-tj-7092446.jpg);
        background-position: center center;
        border-radius: 20px 20px 0px 0px;
    }
    
    #login {
        height: 250px;
        width: 189px;
        padding: 25px;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
    }

    section h1 {
        text-align: center;
        font-size: 28px;
        margin: auto;
        padding-bottom: 15px;
    }

    section p {
        text-align: center;
    }

    body {
        height: 92vh;
        background-image: linear-gradient(to bottom, #f0f180, rgb(239, 247, 239));
        background-repeat: no-repeat;
    }

    main {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
        height: 255px;
        width: 240px;
        margin: auto;
        margin-top: 65px;
        border-radius: 20px;
    }
}